<body>
    
    <div class="container">
    
      <header class="d-flex justify-content-between flex-wrap">
        <h1>Re-Worn</h1>
          <nav>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Designers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
              </li>
            </ul>
          </nav>
      </header>
      
<!--      <section class="featured"></section>-->
      
      <section class="row">
        <div class="col-lg-4 profile-info">
          <img class="float-left" src="nickpettit.jpg" alt="Photograph of Nick Pettit">
          <h2>Nick Pettit</h2>
          <p class="text-muted">Orlando, FL</p>
        </div>
        <div class="col-lg-5">
          <p>Hi, my name is Nick! I'm a clothing designer who loves designing funky thangs!</p>
        </div>
        <div class="col-lg-3">
          <p><a class="btn btn-block btn-primary" href="#">Contribute to this collection</a></p>
        </div>
      </section>
      <br>
      <br>
      <h3>Name of the collection  - Winter Warmers </h3>
      <br>
      <h4>Story of Collection - Inspired by 80s winter wardrobe, this unique but exciting style brings back the good old days...</h4>
      <br>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1519857609704-61e751edba25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="Card image cap"></div>
      <br>
      <br>
    <h4>Here's what I need to finish this collection</h4>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fabric Type</th>
          <th scope="col">Quantity needed</th>
          <th scope="col">Pay offered</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Denim</td>
            <td>12 KGs</td>
            <td>10 Euros per KG</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Cotton</td>
            <td>1 KGs</td>
            <td>5 Euros per KG</td>
          </tr>
        </tbody>
      </table>
      <div class="col-lg-3">
        <p><a class="btn btn-block btn-primary" href="#">Contribute to this collection</a></p>
      </div>    
    </div> 
    
    
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    </body>