<div class="container">


<div class="designers-listpage-title container">
  <h1 class="text-center">All Designers</h1>
</div>
<section class="row">
  <div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Designer</th>
                            <th scope="col">From</th>
                            <th scope="col" class="text-center">Collections</th>
                            <th scope="col" class="text-centre">About</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img style="width:70px;height:70px;" src="/images/nickpettit.jpg" /> </td>
                            <td>Nick Pettit</td>
                            <td> Berlin</td>
                            <td class="text-center">5</td>
                            <td>Hi, my name is Nick! I'm a teacher at Treehouse and I enjoy designing websites</td>
                            <td class="text-center"><a href="#" class="btn btn-primary">Contribute to Nick</a><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                        <tr>
                            <td><img style="width:70px;height:70px;" src="/images/nickpettit.jpg" /> </td>
                            <td>Nick Pettit</td>
                            <td> Berlin</td>
                            <td class="text-center">5</td>
                            <td>Hi, my name is Nick! I'm a teacher at Treehouse and I enjoy designing websites</td>
                            <td class="text-center"><a href="#" class="btn btn-primary">Contribute to Nick</a><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                        <tr>
                            <td><img style="width:70px;height:70px;" src="/images/nickpettit.jpg" /> </td>
                            <td>Nick Pettit</td>
                            <td> Berlin</td>
                            <td class="text-center">5</td>
                            <td>Hi, my name is Nick! I'm a teacher at Treehouse and I enjoy designing websites</td>
                            <td class="text-center"><a href="#" class="btn btn-primary">Contribute to Nick</a><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
  </div>