<div class="container">
<header class="header_area">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <h1>Reborn</h1>
      </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <a class="nav-link" href="#">How It Works</a>
      </li>
      <li>
        <a class="nav-link" href="#">Why it matters</a>
      </li>
      <li>
        <a class="nav-link" href="#">Collections</a>
      </li>
      <li>
        <a class="nav-link" href="#">Designer Login</a>
      </li>
    </ul>
  </nav>
</header>


<div class="designers-listpage-title container">
  <h1 class="text-center">All Designers</h1>
</div>
<section class="row">
  <div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Designer</th>
                            <th scope="col">From</th>
                            <th scope="col" class="text-center">Collections</th>
                            <th scope="col" class="text-centre">About</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img style="width:70px;height:70px;" src="/images/nickpettit.jpg" /> </td>
                            <td>Nick Pettit</td>
                            <td> Berlin</td>
                            <td class="text-center">5</td>
                            <td>Hi, my name is Nick! I'm a teacher at Treehouse and I enjoy designing websites</td>
                            <td class="text-center"><a href="#" class="btn btn-primary">Contribute to Nick</a><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                        <tr>
                            <td><img style="width:70px;height:70px;" src="/images/nickpettit.jpg" /> </td>
                            <td>Nick Pettit</td>
                            <td> Berlin</td>
                            <td class="text-center">5</td>
                            <td>Hi, my name is Nick! I'm a teacher at Treehouse and I enjoy designing websites</td>
                            <td class="text-center"><a href="#" class="btn btn-primary">Contribute to Nick</a><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                        <tr>
                            <td><img style="width:70px;height:70px;" src="/images/nickpettit.jpg" /> </td>
                            <td>Nick Pettit</td>
                            <td> Berlin</td>
                            <td class="text-center">5</td>
                            <td>Hi, my name is Nick! I'm a teacher at Treehouse and I enjoy designing websites</td>
                            <td class="text-center"><a href="#" class="btn btn-primary">Contribute to Nick</a><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
  </div>



  {{!-- <span class="border">
  <div class="shadow-lg p-3 mb-5 bg-white rounded">
  <div class="container">
        <div class="col-lg-4 profile-info">
          <img class="img-thumbnail float-left" style="width:300px;height:300px;" src="/images/nickpettit.jpg" alt="Photograph of Nick Pettit">
        </div>
        <div class="col-lg-5">
          <h2>Nick Pettit</h2>
          <p class="text-muted">Orlando, FL</p>
          <p>Hi, my name is Nick! I'm a teacher at Treehouse and I enjoy designing websites.m a teacher at Treehouse and I enjoy designing websites.m a teacher at Treehouse and I enjoy designing websites.m a teacher at Treehouse and I enjoy designing websites.m a teacher at Treehouse and I enjoy designing websites.</p>
          <p><a class="btn btn-block btn-primary" href="#">Ask About this Collection</a></p>
        </div>
        <div class="col-lg-3">
          <p><a class="btn btn-block" href="#">3 collections</a></p>
          <img class="card-img-top" style="width:170px;height:300px;" src="https://images.unsplash.com/photo-1519857609704-61e751edba25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="Card image cap">
        </div>
        </div>  
  </span>
</section> --}}
      
  
  {{!-- <section class="row">
      <div class="container">
<!--     THIS IS THE IMAGE CARDS -->
      <section class="row">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1519857609704-61e751edba25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Winter Warmers!</h5>
            <p class="card-text">Inspired by 80s winter wardrobe, this unique but exciting style brings back the good old days...</p>
          <a href="#" class="btn btn-primary">Contribute to collection</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1519857609704-61e751edba25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Winter Warmers!</h5>
            <p class="card-text">Inspired by 80s winter wardrobe, this unique but exciting style brings back the good old days...</p>
          <a href="#" class="btn btn-primary">Contribute to collection</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1519857609704-61e751edba25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Winter Warmers!</h5>
            <p class="card-text">Inspired by 80s winter wardrobe, this unique but exciting style brings back the good old days...</p>
          <a href="#" class="btn btn-primary">Contribute to collection</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1519857609704-61e751edba25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Winter Warmers!</h5>
            <p class="card-text">Inspired by 80s winter wardrobe, this unique but exciting style brings back the good old days...</p>
          <a href="#" class="btn btn-primary">Contribute to collection</a>
          </div>
        </div>
      </div>
      </div>
      </section>
      </div>
 --}}

