{{!-- Through this form, the user can sell clothes based on the collection.
1. Name
2. Email.
3. Phone
4. Zip code
5. Type of Fabric you're selling
6. Amount of Fabric
7. Upload Fabric
8. Story behind the Fabric
9. Donate --}}
{{#if message}}
    <div style="color:red" class="error-message">{{ message }}</div>
  {{/if}}
            <form id="contact-form" method="post" action="/sellClothesForm" role="form" enctype="multipart/form-data">
              <div class="messages"></div>
                <div class="controls">
                    <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_name">Firstname *</label>
                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="number">Phone number *</label>
                    <input id="number" type="text" name="phone" class="form-control" placeholder="Please enter your ph. number *" required="required" data-error="Phone number is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">Email *</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_need">What type of upcycling would you be open to</label>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
    <div class="container">
        <table id="myTable" class=" table order-list">
            <td>Type of Fabric</td>
            <td>Amount of Fabric selling</td>
          <tbody>
              <tr>
               <td class="col-sm-4">
                 <select name="fabricTypes" class="form-control" id="fabricTypes">
                  <option>Denim</option>
                  <option>Wool</option>
                  <option>Cotton</option>
                  <option>Synthetics</option>
                   <option>Nylon</option>
                 </select>
               </td>
               <td class="col-sm-4">
                <select name="fabricWeight" class="form-control" id="fabricWeight">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                 </select>per KG
               </td>
              <td class="col-sm-2"><a class="deleteRow"></a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align: left;">
                    <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
                </td>
            </tr>
            <tr>
            </tr>
        </tfoot>
      </table>
    </div>
<div class="input-default-wrapper mt-5">
  <span class="input-group-text mb-3" id="input2">Attach some photos of these clothes</span>
  <input type="file" name='sellerForm' class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" multiple>  
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="form_message">What were some nice memories with these clothes? *</label>
                    <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn btn-success btn-send" value="Register Contribution">
            </div>
        </div>

    </div>
</form>