{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<body>
  <header class="_container-1 clearfix">
    <h1 class="logo"><strong>RE-WORN</strong></h1>
    <p><a href="/login">Log-in</a>
    <p><a href="/signup">Sign Up  </a>
    <p><a href="/private">Go to my page</a></p>
  </header>
  <div class="elemen clearfix">
    <p class="text"><span>REWORN is a platform that allows upcycle designers to collect fabric for their upcoming collections by connecting with donators and fabric recyclers of old clothes</span></p>
    <button class="_button _button-1">DESIGN</button>
    <button class="_button _button-2">DONATE</button>
  </div>
  <div class="container clearfix">
    <button class="_button _button-3">Designers</button>
    <button class="_button _button-4">Donators</button>
    <p class="text text-4">HOW IT WORKS</p>
    <div class="text text-5">
      <p>Sourcing sufficient materials is one of the biggest hurdles to achieving scale in upcycling fashion movement. Designers can crowd-source enough material by using RE-WORN. Here's how&nbsp;</p>
      <p>1. List description of upcoming collection and the type of fabric/s you require for each piece.</p>
      <p>2. The amount of money you would pay by the meter of fabric for each type of fabric. </p>
</div>
  </div>
</body>