{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<header class="header_area">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <h1>Reborn</h1>
      </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <a class="nav-link" href="#">How It Works</a>
      </li>
      <li>
        <a class="nav-link" href="#">Why it matters</a>
      </li>
      <li>
        <a class="nav-link" href="#">Collections</a>
      </li>
      <li>
        <a class="nav-link" href="#">Designer Login</a>
      </li>
    </ul>
  </nav>
</header>


<section class="welcome_area bg-img background-overlay" style="background-image: url(images/bg-img/bg-1.jpg);">
        <div class="container d-flex h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="hero-content">
                        <h6>We connect owners of old clothes</h6>
                        <h3>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; and</h3>
                        <h6>the coolest Upcycling Designers</h6>
                        <br>
                        <br>
                        <h3>Sell your pre-worn clothes</h3>
                        <br>
                        <a href="#" class="btn essence-btn">Explore Collections</a>
                    </div>
                </div>
        </div>
    </div>
</section>

<section>
<div style="background:transparent !important" class="jumbotron jumbotron-fluid bg-info text-white">
      <div class="container text-sm-center pt-6">
        <h2 class="display-2">Are you a designer looking to adopt upcycle practices?</h2>
        <p class="lead">Start sourcing pro-owned fabric for your upcoming collection!</p>
        <div class="btn-group mt-4" role="group" aria-label="Callout buttons">
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register">Register Now</button>
          <a type="button" class="btn btn-light btn-lg" href="#">Already a member? Login here</a>
        </div>
      </div><br>
      
</div>
</section>

<section class="how-it-works section-padding-80 clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <div class="container">
                            <img class="container collectionCard" src="images/how-it-works.jpg"
                        </div>
                    </div>   
                </div>
            </div>
        </div>
</section>




<section class="why-it-matters section-padding-100 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                              <!-- speakers -->
      <h1 id="speakers" class="display-4 text-center my-5 text-muted">Why it matters</h1>
			<div class="row">
				<div class="col-md-6 col-lg-4">
          <div class="card mb-3">
            <img class="card-img-top" src="img/vivianne.png" alt="Vivianne">
            <div class="card-body">
              <h4 class="card-title">Eighty billion</h4>
              <p class="card-text">Pieces of clothing are consumed globally every year!</p>
            </div>
          </div>
				</div>

				<div class="col-md-6 col-lg-4">
          <div class="card mb-3">
            <img class="card-img-top" src="img/nodestradamus.png" alt="NodeStradamus">
            <div class="card-body">
              <h4 class="card-title">32 million Olympic swimming pools</h4>
              <p class="card-text">"The volume of water consumed by apparel production each year</p>
            </div>
          </div>
				</div>

				<div class="col-md-6 col-lg-4">
			    <div class="card mb-3">
			      <img class="card-img-top" src="img/robbie.png" alt="Robbie">
			      <div class="card-body">
			        <h4 class="card-title">Two-thirds of all fibers used have cotton</h4>
			        <p class="card-text">Cotton-based fibers uses a vast amount of water to grow, placing substantial strain on the environmen</p>
			      </div>
			    </div>
				</div>

				<div class="col-md-6 col-lg-4">
				  <div class="card mb-3">
			      <img class="card-img-top" src="img/ecma.png" alt="Ecma">
			      <div class="card-body">
			        <h4 class="card-title">Ecma Scriptnstuff</h4>
			        <p class="card-text">Ecma found her passion for programming and teaching over 15 years ago. She is excited to introduce you to all of the wonders of JavaScript.</p>
			      </div>
			    </div>
				</div>

				<div class="col-md-6 col-lg-4">
			    <div class="card mb-3">
			      <img class="card-img-top" src="img/jay.png" alt="Jay">
			      <div class="card-body">
			        <h4 class="card-title">Jay Query</h4>
			        <p class="card-text">Jay is a developer, author of CSS: The Missing Manual, JavaScript &amp; jQuery: The Missing Manual, and web development teacher.</p>
			      </div>
			    </div>
				</div>

				<div class="col-md-6 col-lg-4">
			    <div class="card">
			      <img class="card-img-top" src="img/json.png" alt="Json">
			      <div class="card-body">
			        <h4 class="card-title">Json Babel</h4>
			        <p class="card-text">All of his professional life, Json has worked with computers online; he is a polyglot programmer and likes using the right tools for the job.</p>
			      </div>
			    </div>
				</div>
			</div><!-- /speakers -->
                    </div>   
                </div>
            </div>
        </div>
</section>
