{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<section class="welcome_area bg-img background-overlay welcome-area-position" style="background-image: url(images/bg-img/bg-1.jpg);">
        <div class="container d-flex h-100" id="home">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="hero-content">
                        <h6>We connect owners of old clothes</h6>
                        <h3>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; with</h3>
                        <h6>The Coolest Upcycling Designers</h6>
                        <br>
                        <br>
                        <h4>Find Designers Looking for Fabric</h3>
                        <br>
                        <a href="/collections" class="btn essence-btn">Sell Pre-Worn Clothes</a>
                    </div>
                </div>
        </div>
    </div>
</section>

<section class="designer-registration" style="background-image: url(images/bg-img/)" id="designers">
<br><br><br><br><br><br><br><br><br><br><br>
      <div class="container text-sm-center">
        <h2 class="display-2">Are you a designer looking to adopt upcycle practices?</h2>
        <p class="lead">Start sourcing pro-owned fabric for your upcoming collection!</p>
        <div class="btn-group mt-4" role="group" aria-label="Callout buttons">
          <a type="button" class="btn btn-light btn-lg" href="/signup-designer">Register now</a>
          <a type="button" class="btn btn-light btn-lg" href="/login">Already a member? Login here</a>
        </div><br>
      </div>
</section>
<br><br><br><br><br>
<section class="how-it-works section-padding-80 clearfix">
        <div class="container-fluid" id="howItWorks">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <div class="container">
                            <img class="collectionCard" src="images/how-it-works.jpg"
                        </div>
                    </div>   
                </div>
            </div>
        </div>
</section>



<br><br><br><br><br><br>
<section class="why-it-matters section-padding-100 clearfix">
        <div class="container" id="whyItMatters">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                              <!-- speakers -->
      <h1 id="speakers" class="display-4 text-center my-5 text-muted">Why it matters</h1>
			<div class="row">
				<div class="col-md-6 col-lg-4">
          <div class="card mb-3">
            <img class="card-img-top">
            <div class="card-body">
              <h4 class="card-title">Eighty billion</h4>
              <p class="card-text">Pieces of clothing are consumed globally every year!</p>
            </div>
          </div>
				</div>

				<div class="col-md-6 col-lg-4">
          <div class="card mb-3">
            <img class="card-img-top">
            <div class="card-body">
              <h4 class="card-title">32 million Olympic swimming pools</h4>
              <p class="card-text">"The volume of water consumed by apparel production each year</p>
            </div>
          </div>
				</div>

				<div class="col-md-6 col-lg-4">
			    <div class="card mb-3">
			      <img class="card-img-top">
			      <div class="card-body">
			        <h4 class="card-title">Two-thirds of all fibers used have cotton</h4>
			        <p class="card-text">Cotton-based fibers uses a vast amount of water to grow, placing substantial strain on the environmen</p>
			      </div>
			    </div>
				</div>

				<div class="col-md-6 col-lg-4">
				  <div class="card mb-3">
			      <img class="card-img-top">
			      <div class="card-body">
			        <h4 class="card-title">Upto 7,000 liters of water</h4>
			        <p class="card-text">Needed to produce one pair of jeans.</p>
			      </div>
			    </div>
				</div>

				<div class="col-md-6 col-lg-4">
			    <div class="card mb-3">
			      <img class="card-img-top">
			      <div class="card-body">
			        <h4 class="card-title">10% of the clothes</h4>
			        <p class="card-text">That people donate to thrift stores or charities get sold, the rest goes to landfill</p>
			      </div>
			    </div>
				</div>

				<div class="col-md-6 col-lg-4">
			    <div class="card">
			      <img class="card-img-top" {{!-- src="" alt="Json"--}}> 
			      <div class="card-body">
			        <h4 class="card-title">200 years</h4>
			        <p class="card-text">Number of years clothes made from polyester can take to break down.</p>
			      </div>
			    </div>
				</div>
			</div><!-- /speakers -->
                    </div>   
                </div>
            </div>
        </div>
</section>
