<!DOCTYPE html>
<html>
<head>
  <title>Re-Worn - Increasing clothing lifecycle</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="http://fonts.googleapis.com/css?family=Lato:400,100,400,700,900" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Krub" rel="stylesheet">

</head>
<body id="home" data-spy="scroll" data-target=".navbar" data-offset="100">

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top navbar-color">
      <div class="navbar-header">
        <a href="/"><h1 class="reborn">Reborn</h1></a>
      </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav navbar-right spacing">
            <a class="nav-item nav-link spacing" href="/">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link spacing" href="#designers">Designers</a>
            <a class="nav-item nav-link spacing" href="#howItWorks">How it works</a>
            <a class="nav-item nav-link spacing" href="#whyItMatters">Why it matters</a>
          </div>
  </nav>
  </div>

    {{{ body }}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="http://fonts.googleapis.com/css?family=Lato:400,100,400,700,900" rel="stylesheet" type="text/css">
</body>
</html>