{{!-- This file, we will have the designer enter details of the collection
1. Type of Fabric
2. Quantity of Fabric needed
3. Amount of money per unit of Fabric (ex. Per Kg of Denim costs ??)
4. Description of the collection
5. Upload Image of Fabric --}}
<h4 style="color:rgb(220,20,20)">You are logged in</h4>
<h1>enterCollection</h1>

<form action="/enterCollection" method="post">
  <label>Material Type</label>
  <input type="text" name="materialType">
  <label>Cost</label>
  <input type="text" name="cost">
  <label>weight</label>
  <input type="text" name="weight">
  
  <button>Create collection</button>


</form>
