
body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Lato;
  color: rgb(27, 45, 77);
}

.container {
  float: left;
  clear: both;
  width: 66.3333333333%;
  height: 588px;
  margin: 41px 0 0 16.8307291666%;
}

.container .text {
  clear: both;
}

.elemen {
  float: left;
  clear: both;
  width: 66.4166666666%;
  height: 450px;
  margin: 100px 0 0 16.83073%;
  background-color: rgb(222, 222, 222);
}

.elemen .text {
  position: relative;
  z-index: 7;
  width: 85.1944792973%;
  height: 231px;
  min-height: 231px;
  margin: 23px 0 0 5.88927%;
  font-family: Helvetica;
  text-align: center;
  color: rgb(0, 0, 0);
}

.logo {
  float: left;
  width: 14.830157415%;
  min-height: 53px;
  margin: 24px 0 0 12.17896%;
  font-family: Helvetica;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text {
  float: left;
  font-size: 1em;
}

.text-5 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  float: left;
  border-radius: 3px;
  font-family: Helvetica;
  text-align: center;
}

.container ._button {
  position: relative;
  height: 50px;
  margin-top: 42px;
  font-size: 1em;
}

.elemen ._button {
  width: 29.6110414052%;
  height: 69px;
  margin-left: 33.25361%;
  padding: 28px;
  background-color: rgba(3, 31, 117, 0.94);
  font-size: 1.625em;
  font-weight: 700;
  line-height: 0.6;
  color: rgb(213, 213, 213);
}

.elemen ._button:hover {
  font-family: Lato;
  font-style: normal;
  font-weight: 100;
}

.text-1 {
  width: 4.9710024855%;
  min-height: 23px;
  margin: 35px 0 0 44.7713899999%;
  font-weight: 700;
  color: rgb(209, 204, 204);
}

.text-2 {
  width: 5.1367025683%;
  min-height: 23px;
  margin: 35px 0 0 0.8764%;
  font-weight: 700;
  color: rgb(193, 193, 193);
}

.text-4 {
  width: 25.1256281407%;
  min-height: 37px;
  margin: 21px 0 0 33.9235238693%;
  font-family: Helvetica;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-5 {
  width: 66.7587939698%;
  min-height: 306px;
  margin: 19px 0 0 18.04334%;
  color: rgb(27, 45, 77);
}

._container-1 {
  float: left;
  width: 100.5833333333%;
  height: 93px;
  background-color: rgb(25, 67, 139);
}

.container ._button-3 {
  z-index: 1;
  width: 19.5479140526%;
  margin-left: 28.2565169597%;
  background-color: rgb(98, 134, 177);
  color: rgb(255, 255, 255);
}

.container ._button-4 {
  z-index: 0;
  width: 19.3244196988%;
  background-color: rgb(222, 222, 222);
  color: rgb(10, 8, 84);
}

.elemen ._button-1 {
  position: relative;
  clear: both;
  z-index: 5;
  margin-top: -135px;
}

.elemen ._button-2 {
  margin-top: 2px;
}

.logo strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-style: normal;
  font-size: 1.875em;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #fbf7f7;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text a,
.text em,
.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #0f1766;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}