{{!-- This is the view that only the 
designer can see once he/she has submitted the collection. --}}
<h4 style="color:rgb(220,20,20)">You are logged in</h4>
<h1>collectionDesignerView</h1>
<form action="/sellClothesForm/" method="post">
  <br><br>
  <input type="submit">
</form>

TEST