{{!-- Through this form, the user can sell clothes based on the collection.
1. Name
2. Email.
3. Phone
4. Zip code
5. Type of Fabric you're selling
6. Amount of Fabric
7. Upload Fabric
8. Story behind the Fabric
9. Donate --}}

<h4 style="color:rgb(220,20,20)">You are logged in</h4>
<form action="/create_collection/" method="post">
    <label for="collection_name">Enter the name of the collection: </label>
    <form action="/action_page.php">
      </form><select name="cars">
        <option value="denim">Denim</option>
        <option value="cotton">Cotton</option>
        <option value="fiat">Wool</option>
        <option value="audi">Etc</option>
  </select>
  <br><br>
  <input type="submit">
</form>