{{!-- In this page, the designer will be able to view the collection he/she created using 
the enterCollection.hbs page --}}
{{!-- 1. About the collection
2. Images of the collection
3. Fabrics needed --}}

<h4 style="color:rgb(220,20,20)">You are logged in</h4>
<h1>viewCollection</h1>